body{
    background-color: rgba(9,10,17,0.8) !important;
}

#headerName{
    display: inline;
    position: relative;
    top: 12px;
}

#profileAvatar{
    border-radius: 74px !important;
    border: 3px solid black;
    margin-top: 10%;
    margin-left: 2%;
}

#logoutBtn, #loginWithDiscord_btn{
    position: absolute;
    top: 18px;
    right: 10px;
}

#backToAccountImg{
    position: absolute;
    top: 8px;
    right: 10px;
}

#backToAccountName{
    display: inline;
    font-weight:bold;
    transition: 0.2s ease-out;
}

#backToAccountName:hover{
    color: rgb(206, 172, 20);
}

#backToAccountImg img{
    border-radius: 50px;
    border: 2px solid black;
}

#profileCard{
    margin-top: 1%;
    background-color: #202228;
    color: #ffffff;
}

#smallProfileCardText{
    color: #ffffff !important;
}

#yourServersWrapper{
    background-color: #202228;
}

#yourServersTitel{
    color: #ffffff;
}

.innerYourServersCard{
    background-color: #08090a !important;
    color: white;
}

#getStartedCard{
    width: 18rem;
    margin: 0 auto;
    margin-top: 16%;
    border-radius: 50%;
    padding: 1%;
}

#noServerYet{
    color: white;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 18pt;
    width: fit-content;
}
