body{
    background-color: rgba(9,10,17,0.8) !important;
}

#headerName{
    display: inline;
    position: relative;
    top: 19px;
}

#profileAvatar{
    border-radius: 74px !important;
    border: 3px solid black;
    margin-top: 10%;
    margin-left: 2%;
}

#logoutBtn, #loginWithDiscord_btn{
    position: absolute;
    top: 18px;
    right: 10px;
}

#backToAccountImg{
    position: absolute;
    top: 8px;
    right: 10px;
}

#backToAccountName{
    display: inline;
    font-weight:bold;
    transition: 0.2s ease-out;
}

#backToAccountName:hover{
    color: rgb(206, 172, 20);
}

#backToAccountImg img{
    border-radius: 50px;
    border: 2px solid black;
}

#profileCard{
    margin-top: 1%;
    background-color: #202228;
    color: #ffffff;
}

#smallProfileCardText{
    color: #ffffff !important;
}

#yourServersWrapper{
    background-color: #202228;
}

#yourServersTitel{
    color: #ffffff;
    font-size: 26pt;
}

#dashboardTitelWrapper{
    text-align: center;
    margin-bottom: 2%;
}

.innerYourServersCard{
    background-color: #141414 !important;
    color: white !important;
    text-align: center;
    min-height: 178px !important;
}

#getStartedCard{
    width: 18rem;
    margin: 0 auto;
    margin-top: 16%;
    border-radius: 50%;
    padding: 1%;
}

#noServerYet{
    color: white;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 18pt;
    width: fit-content;
}


.displayInfoCard{
    margin-bottom: 2%;
}


#serverSettingsIcon{
    border-radius: 100px;
    border: 1px solid gray;
    margin-bottom: 1%;
}

#serverSettingsName{
    color: white;
    font-size: 30pt;
}

.featureLinkWrapp{
    text-decoration: none;
    color: black;
}

#faceitEloCheckerHeader{
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}

#ankerWrapUserLink{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#bigSignInBtn{
    padding: 7%;
    font-size: 20pt;
}

.featureHeader{
    font-weight: bold;
    color: white !important;
}

.wrapperCard{
    width: 97%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 1%;
    background-color: #202228 !important;
    color: white;
}
.exampleImg{
    border-radius: 7px;
}

.wrapp2{
    background-color: #e3e3e3;
}

.contactFormLabel{
    float:left;
    margin-top: 10px;
}

#submitContactFormular{
    width: 100%;
    margin-top: 20px;
}

#allServersBody{
    width: 92%;
    margin: 0 auto;
}

.dashboardServerCardLinkWrapper{
    text-decoration: none;
}

.alertTable{
    width: 100%;
    text-align: center;
}

.activityLogMsg{
    padding: 5px !important;
}

.activityLogBody{
    height: 350px;
    overflow: auto;
}


#noPermissionsWarn{
    position: absolute;
    top: 0;
    left: 1%;
    z-index: 1000;
    width: 98%;
    text-align: center;
    opacity: 0.8;
}


.subHeadingEloChecker{
    color: white;
}


.deviderHr{
    color: white;
}

.smallDescText{
    font-size: 10pt !important;
    font-weight: lighter;
}

.secondaryModuleTitel{
    font-size: 13pt;
}