body{
    background-color: rgba(9,10,17,0.8) !important;
}

#headerName{
    display: inline;
    position: relative;
    top: 19px;
}

#profileAvatar{
    border-radius: 74px !important;
    border: 3px solid black;
    margin-top: 10%;
    margin-left: 2%;
}


#logoutBtn, #loginWithDiscord_btn{
    position: absolute;
    top: 18px;
    right: 10px;
}

#backToAccountImg{
    position: absolute;
    top: 8px;
    right: 10px;
}

#backToAccountName{
    display: inline;
    font-weight:bold;
    transition: 0.2s ease-out;
}

#backToAccountName:hover{
    color: rgb(206, 172, 20);
}

#backToAccountImg img{
    border-radius: 50px;
    border: 2px solid black;
}

#profileCard{
    margin-top: 1%;
    background-color: #202228;
    color: #ffffff;
}

#smallProfileCardText{
    color: #ffffff !important;
}

#yourServersWrapper{
    background-color: #202228;
}

#yourServersTitel{
    color: #ffffff;
    font-size: 26pt;
}

#dashboardTitelWrapper{
    text-align: center;
    margin-bottom: 2%;
}

.innerYourServersCard{
    background-color: #141414 !important;
    color: white !important;
    text-align: center;
    min-height: 178px !important;
}

#getStartedCard{
    width: 18rem;
    margin: 0 auto;
    margin-top: 16%;
    border-radius: 50%;
    padding: 1%;
}

#noServerYet{
    color: white;
    margin: 0 auto;
    margin-top: 2%;
    font-size: 18pt;
    width: fit-content;
}


.displayInfoCard{
    margin-bottom: 2%;
}


#serverSettingsIcon{
    border-radius: 100px;
    border: 1px solid gray;
    margin-bottom: 1%;
}

#serverSettingsName{
    color: white;
    font-size: 30pt;
}

.featureLinkWrapp{
    text-decoration: none;
    color: black;
}

#faceitEloCheckerHeader{
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
}

#ankerWrapUserLink{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#bigSignInBtn{
    padding: 7%;
    font-size: 20pt;
}

.featureHeader{
    font-weight: bold;
    color: white !important;
}

.wrapperCard{
    width: 97%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 1%;
    background-color: #202228 !important;
    color: white;
    overflow: hidden;
}

.exampleImg{
    border-radius: 7px;
    margin: 0 !important;
    width: 96% !important;
}

.wrapp2{
    background-color: #e3e3e3;
}

.contactFormLabel{
    float:left;
    margin-top: 10px;
}

#submitContactFormular{
    width: 100%;
    margin-top: 20px;
}

#allServersBody{
    width: 92%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.dashboardServerCardLinkWrapper{
    text-decoration: none;
}

.alertTable{
    width: 100%;
    text-align: center;
}

.activityLogMsg{
    padding: 5px !important;
}

.activityLogBody{
    height: 350px;
    overflow: auto;
}


#noPermissionsWarn{
    position: absolute;
    top: 0;
    left: 1%;
    z-index: 1000;
    width: 98%;
    text-align: center;
    opacity: 0.8;
}


.subHeadingEloChecker{
    color: white;
}


.deviderHr{
    color: white;
}

.smallDescText{
    font-size: 10pt !important;
    font-weight: lighter;
}

.secondaryModuleTitel{
    font-size: 13pt;
}

.roleDisplay{
    display: flex;
    width: 100%;
}

.emojiSelWrapper{
    max-width: 106px;
}

.openEmojiPickerBtn{
    background: none;
    border: none;
    font-size: 19px;
}

.descWrapper{
    width: 50%;
    margin-right: 1%;
}

.emojiPicker{
    position: absolute;
    margin-top: 11px;
    z-index: 1000;
}

.selectedEmoji{
    text-align: center !important;
    width: 27% !important;
    float: left;
    min-width: 60px;
}

.delWrapper{
    margin-left: 1% !important;
}

#roleManagerMain{
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 25px;
}

#roleManagerBody{
    height: 80vh;
    min-height: -webkit-fill-available;
}

.formRoleMessageWrapper{
    margin-bottom: 7%;
}


#sideBarWrapper{
    margin-left: 6px;
    border-radius: 10px;
    padding: 7px !important;
}

.roleMsgSidebarBtn{
    border-radius: 10px !important;
}

.roleMsgSidebarBtn:hover{
    background-color: #919191 !important;
    transition: 0.5s ease-out;
}


.saveAllRoleBtn{
    width: 98%;
    margin-left: 1%;
    margin-bottom: 2%;
}

.addNewMsgBtn{
    margin-top: 4%;
}

.addNewRoleLineBtn{
    margin: 1%;
}

.delWholeMessageBtn{
    position: absolute;
    right: 14px;
    top: 15%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 22px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6fa734;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .moduleSwitch{
    position: absolute;
    margin-top: 4px;
    margin-left: 230px;
  }

 
  #recaptchaWrapper{
    display: flex;
  }
  

  #userEmailAgreeCheckbox{
    margin-left: 10px;
    width: 23px;
    height: 23px;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
  }


  #userEmailAgreeLabel{
    margin-top: 4%;
    margin-left: 29%;
  }


  /*cookie popup*/

    .cookie-consent{
        position: fixed;
        bottom: 25px;
        right: 41px;
        width: 260px;
        color: #000;
        padding: 10px;
        line-height: 20px;
        font-size: 14px;
        background: #e9e9e9;
        z-index: 120;
        border-radius: 3px;
    }

    .allow-button{
        height: 20px;
        width: 104px;
        margin-left: 10px;
        line-height: 10px;
        color: #fff;
        font-size: 12px;
        line-height: 10px;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid green;
        background-color: green;
    }



    .infoImgWrapper{
        width: 100% !important;
    }

    #loginBtnWrapper,#manageServersWrapper,#roleManagerWrapper,#greetingManagerWrapper,#faceitEloWrapper,#pointSystemWrapper,#contactFormDivWrapper{
        opacity: 0;
    }

    #loginInfoTextWrapper,#modulesInfoTextWrapper,#reactionRoleInfoTextWrapper,#welcomeMessageInfoTextWrapper,#faceitInfoTextWrapper,#pointsInfoTextWrapper{
        opacity: 0;
    }

    
    @keyframes flyInFromBottom {
        0% {
          transform: translateY(10%);
        }
        100% {
          transform: translateY(0);
        }
    }

    .animated_bottomFadeIn {
        opacity: 1 !important;
        animation: flyInFromBottom 1.2s ease-in-out;
        transition: opacity 1s, transform 1s !important;
    }




    @keyframes flyInFromLeftSide {
        0% {
          transform: translateX(-15%);
        }
        100% {
          transform: translateX(0);
        }
    }

    .animated_leftSideFadeIn {
        opacity: 1 !important;
        animation: flyInFromLeftSide 1s ease-in-out;
        transition: opacity 1s, transform 1s !important;
    }




    @keyframes flyInFromRightSide {
        0% {
          transform: translateX(15%);
        }
        100% {
          transform: translateX(0);
        }
    }

    .animated_rightSideFadeIn {
        opacity: 1 !important;
        animation: flyInFromRightSide 1s ease-in-out;
        transition: opacity 1s, transform 1s !important;
    }


    #startSection{
        height: 86vh;
        padding-top: 6%;
    }



    .menuLink{
        color: white !important;
        text-decoration: underline !important; 
        font-weight: bolder !important;
    }

    .menuLink:hover{
        color: #0d6efd !important;
    }


    .fixed-top{
    background-color: rgb(85 85 85 / 90%) !important;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    }

    .menuLink{
        cursor: pointer;
    }


    .moduleCard{
        background-color: #202228 !important;
        border: none !important;
    }

    .moduleCard .card-header{
        border: none !important;
    }

    .moduleCard .card-body{
        text-align: center;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .moduleCard .card-body .card-title{
        font-size: 5vh !important;
    }

    .moduleCard .card-body .card-text{
        font-size: 3vh !important;
    }


    .carousel-item{
        margin-bottom: 5%;
    }


    #index_moduleSection{
        min-height: 63vh;
    }

    #referenzSectionDivWrapper{
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    } 

    #joinBotReferenzBtn{
        margin-bottom: 5% !important;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
    }


    #joinBotReferenzBtn button{
        font-weight: bold;
        border-radius: 30px;
        width: 27vh;
        padding: 2vh;
        transition: 0.2s ease-out;
        color: black;
    }

    #joinBotReferenzBtn button:hover{
        border-radius: 10px;
        background-color: #0d6efd;
        border: none;
        color: white;
    }